*.ppm
*.data
*.dat
*log
*.lammpstrj
*archive
*.png


log.lammps
h2o\log.lammps
h2o_KCl/lammps/conc_Cl.txt
h2o_KCl/lammps/conc_O.txt
h2o_KCl/lammps/conc_total.txt
h2o_KCl/lammps/conc_K.txt
h2o_KCl/lammps/log.lammps
h2o_KCl/lammps/README
h2o_KCl/Results

plot_energies.py
steadyStateTest/postProcessing.py